<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="home-container">
    <ion-text>
      <h2 class="welcome">Usuario: {{ username }}!</h2>
    </ion-text>
    <form>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nivel Educación</ion-label>
        <ion-input [(ngModel)]="educationLevel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha Nacimiento</ion-label>
        <ion-input [(ngModel)]="dob" type="date"></ion-input>
      </ion-item>
      <div class="button-group">
        <ion-button expand="block" (click)="clearForm()">Limpiar</ion-button>
        <ion-button expand="block" (click)="showInfo()">Mostrar</ion-button>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text class="footer-text">App desarrollada por Nicole Marchant</ion-text>
  </ion-toolbar>
</ion-footer>