
<ion-header>
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
</ion-header>  
<ion-text >Bienvenido!</ion-text>
<form>
  <ion-label> Usuario: </ion-label>
  <ion-input [value]="username" readonly></ion-input>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="firstName" name="firstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="lastName" name="lastName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nivel de educación</ion-label>
    <ion-input [(ngModel)]="educationLevel" name="educationLevel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha Nacimiento</ion-label>
    <ion-input type="date" [(ngModel)]="dob" name="dob"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="mostrarInfo()">Mostrar</ion-button>
  <ion-button expand="full" (click)="LimpiarForm()">Limpiar</ion-button>
</form>