<ion-header>
  <ion-toolbar>
    <ion-title>Certificados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="certificadoForm">
    <ion-item>
      <ion-label>Nombre Certificado</ion-label>
      <ion-input formControlName="nombreCertificado" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de Obtención</ion-label>
      <ion-input type="date" formControlName="fechaObtencion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>¿Vence?</ion-label>
      <ion-checkbox formControlName="tieneVencimiento"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="certificadoForm.get('tieneVencimiento')?.value">
      <ion-label>Fecha de Vencimiento</ion-label>
      <ion-input type="date" formControlName="fechaVencimiento"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="certificadoForm.invalid">Enviar</ion-button>
  </form>
</ion-content>